.member-list, .prof-list {
  margin: 1em;
}

.member-list li,
.member-detail-list li {
  list-style: none;
}

.member-detail-list li {
  text-align: center;
  line-height: 1.5;
}

.member-avatar {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 5px solid #fff;
  box-shadow:0 0 25px rgba(0, 0, 0, 0.5);
}

.member-list {
  display: flex;
  flex-wrap: wrap;
}

.member-list-item {
  align-items: center;
  line-height: 1.5;
  width: 200px;
  flex: none;
}

.prof-avatar {
  height: 240px;
  width: 240px;
  border-radius: 20px;
  border: 5px solid #fff;
  box-shadow:0 0 20px rgba(0, 0, 0, 0.5);
}

.prof-item {
  display: flex;
  align-items: center;
  margin: 1em;
}

.prof-detail-list {
  margin-left: 2em;
  line-height: 2em;
}

.prof-detail-list li {
  font-size: 1.3em;
}
