.report-item {
  margin: 1em;
  display: flex;
}

.content-section .report-item p {
  margin: 16px;
}

.report-picture {
  border: 5px solid #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  width: 400px;
  height: 300px;
}

.report-item .report-title {
  font-size: 1.5em;
}

.report-info {
  color: #666;
}

.read-more {
  float: right;
}

.tc-item-title {
  font-size: 1.3em;
}

.tc-link-list {
  overflow: hidden;
}

.tc-link-list li {
  float: left;
  margin-right: 2em;
}
